name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  permissions:
    contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Descargar tu código
      - name: Checkout código
        uses: actions/checkout@v4

      # 2. Configurar JDK (Java 17 en este caso)
      - name: Configurar JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # 3. Cache de Gradle para acelerar builds
      - name: Cache de Gradle
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      # 4. Ejecutar tus tests con parámetros
      - name: Ejecutar tests
        run: ./gradlew test -Dcucumber.filter.tags="@LoginSuccess" -Dheadless=true

      # 5. Paso de depuración: listar archivos generados
      - name: Listar reportes generados
        run: ls -R build/reports/tests/test

      # 6. Subir reporte como artefacto
      - name: Subir reporte de pruebas
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Descargar reporte
        uses: actions/download-artifact@v4
        with:
          name: test-report
          path: ./test-report

      - name: Deploy a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./test-report